<div class="wrapper">
  <mat-sidenav-container>
      <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [opened]="!(isHandset$ | async)"
                [fixedInViewport]="!(isHandset$ | async)"
                [fixedBottomGap]="0"
                >
    <div class="container">
      <div class="box" style="background-color:rgb(115, 49, 200)">
        <div class="scrollbar" id="style-1">
          <div class="force-overflow" style="background-color: rgb(115, 49, 200)">
            <mat-nav-list>
              <mat-list>
                <div mat-subheader >
                  <h2 style="color:white; margin-left: 15px; margin-top: 15px; font-size: 24px;">Favorite</h2>
                </div>
                <mat-list-item *ngFor="let folder of folders">
                  <mat-icon style="color:white" mat-list-icon>{{folder.icon}}</mat-icon>
                  <div mat-line>
                    <a style="color:white" routerLink={{folder.link}}>{{folder.name}}</a>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-nav-list>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
    <mat-sidenav-content>
      <!-- Header-->
      <mat-toolbar color="primary" style="position:sticky; z-index: 10;">
        <button
          mat-icon-button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon class="my-icon">menu</mat-icon>
        </button>
        <span>Seun's Djing Project</span>
        <span class="example-spacer"></span>
        <div style="margin-top: 10px;">
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <a href = 'https://www.instagram.com/accounts/login/?next=/oluwaseun_bayode/' style="color:white">
              <fa-icon [icon]="['fab', 'instagram']" size="2x" style="margin-right: 0px;"></fa-icon>
            </a>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <a href="https://www.facebook.com/bayode.seun.1/" style="color:white">
              <fa-icon [icon]="['fab', 'facebook']"  size="2x" style="margin-left: 0px;"> </fa-icon>
            </a>
          </button>
        </div>
      </mat-toolbar>
      <!-- Body-->
    <!-- Single page Component-->
      <router-outlet></router-outlet>
  <!-- Footer-->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <span>Second End</span>
    </mat-toolbar-row>
    <mat-toolbar-row style=" margin-left: auto; margin-right: auto;">
      <div style="width: 50%; margin: 5px auto; text-align:center;">
        <a href = 'https://www.instagram.com/accounts/login/?next=/oluwaseun_bayode/' style="color:white">
          <fa-icon [icon]="['fab', 'instagram']"  size="2x" style="margin-right: 10px;"></fa-icon>
        </a>
        <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
        <a href="https://www.facebook.com/bayode.seun.1/" style="color:white">
          <fa-icon [icon]="['fab', 'facebook']" size="2x" style="margin-left: 10px;"> </fa-icon>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  </mat-sidenav-content>
  </mat-sidenav-container>
</div>
