<div class="container">
    <div>
      <section class="project-banner">
          <img src="./assets/img/undraw_pair_programming_re_or4x.svg" alt="me" />
      </section>
      <div>
        <p>
            This page shows some of the things I am interested in, my prospects and ambitions.
            The things I am working on, my likes and dislikes.
        </p>
      </div>
    </div>
    <div style="font-size:18px; position: absolute; top:200px; width: 100%; margin: 0 15px">
      <div style="text-align: center; color: rgb(199, 180, 180); display: flex;">
          <div class="skills">
            <h3>Interest</h3>
            <ul>
                <li>Reading</li>
                <li>Travelling</li>
                <li>Meeting/Making Friends</li>
                <li>Working with People</li>
                <li>Watching Movies</li>
                <li>Software Development</li>
                <li>Artificial Intelligence</li>
                <li>NLP</li>
                <li>API Development</li>
                <li>Image Classification</li>
                <li>Image Detection</li>
            </ul>
        </div>
      </div>
   </div>
</div>
       <!-- <div class="interest"><img  src="./assets/img/{{}}"></div>
        <div class="interest"><img  src="./assets/img/{{}}"></div>
        <div class="interest"><img  src="./assets/img/{{}}"></div>-->
