.container{
  background-image: linear-gradient(to right top, #2d0036, #4f015b, #730283, #9a02ac, #C400D7);
  height: 75vh;
}
.project-banner{
  height: 200px;
  background-color: #1F1A36;
  border: 1px solid #2D2747;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: -4px;
}

.project-banner > img{
  height: 200px;
}
