 .main-wrapper{
 background-image: linear-gradient(to right top, #2d0036, #4f015b, #730283, #9a02ac, #C400D7);
 padding: 5px 0;
 }
.card-container {
 background-color: #231E39;
 border-radius: 25px;
 box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
 color: #B3B8CD;
 padding: 30px 0 0;
 position: relative;
 width: 350px;
 margin-left: auto;
 margin-right: auto;
 max-width: 100%;
 text-align: center;
 overflow: hidden;
}

  .tp-wrapper {
    -webkit-perspective: 800px;
            perspective: 800px;
  }

    .primary{
   background-color: #1F1A36;
   color: #B3B8CD;
  }
  .tp-box {
      position: relative;
      width: 350px;
      height: 350px;
      margin: 5px auto;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform         : transform 1s;
          -ms-transform         : transform 1s;
              transform         : transform 1s;
    }
    .tp-box__side {
       width: 100%;
      height: 100%;
      position: absolute;

      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      color: #fff;
      text-align: center;
      /*line-height: 100px;*/
      padding: 10px;
      font-size: 24px;
      font-weight: 700;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }
    .tp-box__front {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: #231E39;
      -webkit-transform : rotateY(0deg);
      -ms-transform     : rotateY(0deg);
      transform         : rotateY(0deg);
    }
    .tp-box__back {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: #231E39;
      -webkit-transform : rotateY(-180deg);
      -ms-transform     : rotateY(-180deg);
      transform         : rotateY(-180deg);
    }


* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.example-card {
 border-radius: 25px;
 height: 328px;
 max-height: 350px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
