<div class="wrapper">
  <div class="card-container">
      <span class="pro">PRO</span>
      <img src="/assets/img/seun.jpeg" alt="user" style="object-fit: contain;"/>
      <h3>Oluwaseun Bayode</h3>
      <h6></h6>
      <p>User interface designer and <br/>
        fullstack developer <br></p>
      <div class="buttons">
          <button type="button"  class="primary" (click)="Skills = true">
              About Me
          </button>
          <button  type="button" class="primary"  (click)=" Skills = false">
              My Statement
          </button>
      </div>
      <div class="skills" *ngIf="Skills; else isSkills">
          <div style = " border-radius: 25px;">
              <mat-card class="example-card-about-me">
                <mat-card-content>
                  <p>{{AboutMe}}</p>
                  <p>{{Others}}</p>
                </mat-card-content>
              </mat-card>
          </div>
      </div>
      <ng-template #isSkills>
        <div class="skills">
          <div style = " border-radius: 25px;">
              <mat-card class="example-card">
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </ng-template>
      <div class="skills" >
        <h4>Skills</h4>
          <ul>
              <li>UI / UX</li>
              <li>HTML</li>
              <li>Vue</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>Front End Development</li>
              <li>Angular</li>
          </ul>
      </div>
  </div>
</div>
