<div class="container">
    <div>
      <section class="project-banner">
          <img src="./assets/img/undraw_time_management_re_tk5w.svg" alt="me" />
      </section>
      <div>
        <p>
            This page shows displays the reason why I used the colour scheme I used. The component style,
            and other information relating to the design.
        </p>
      </div>
    </div>
    <div style="font-size:18px; position: absolute; top:200px; width: 100%; margin: 0 15px">
      <div style="text-align: center; color: rgb(199, 180, 180);">
          <div class="skills">
            <p>Why I used purple color:</p>
            <div>
              <p style="font-size: 13px">
                I used purple colour as the background because it's one of my favourite colours.
                Purple colour for me represents creativity, wisdom, dignity, grandeur, devotion, peace, pride, mystery, independence, and magic.
                I also used blue colour because it's a sign of calmness and reliability. The two colours blends perfectly well together
              </p>
            </div>
          </div>
          <div class="skills">
            <p>Why I used the flip component:</p>
            <div>
              <p style="font-size: 13px">
                  The flip component also gives the user the ability to view details of the information without further scrolling. It also gives the
                  user a better feel of usability and a better UI design.
              </p>
            </div>
          </div>
      </div>
    </div>
</div>

